.test {
  border: 1px dashed red;
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.seo .fa-square {
  color: #880d0b;
}
.marketing .fa-square {
  color: #000061;
}
.fa-stack :hover {
  font-size: 1.2em;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}
#logo-color {
  position: relative;
  animation-duration: 3s;
  animation-delay: 1s;
  max-height: 300px;
  padding: 10px;
}
#logo-bw {
  position: absolute;
  animation-duration: 3s;
  animation-delay: 1s;
  max-height: 300px;
  padding: 10px;
}
#seo {
  visibility: hidden;
}
#marketing {
  visibility: hidden;
}
#presence {
  visibility: hidden;
}
#scroll-span {
  width: 160px;
}
#scroll-span > h1 {
  position: absolute;
}
.gradient-wb {
  background-image: linear-gradient(#fff, #000);
  min-height: 100px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.gradient-bw {
  background-image: linear-gradient(#000, #e4d1b1);
  min-height: 150px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.gradient1 {
  background-image: linear-gradient(white, #e4d1b1);
  min-height: 50px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.gradient2 {
  background-image: linear-gradient(#e4d1b1, white);
  min-height: 50px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.header {
  background-color: #000;
  color: #fff;
  min-height: 310px;
}
.seo {
  padding: 10px 0;
}
.marketing {
  background-color: #e4d1b1;
  color: #352b07;
}
.testimonials {
  background-color: #000061;
  padding: 10px 0;
}
.footer {
  background-color: #e4d1b1;
  color: #968b75;
}

@media screen and (max-width: 768px) {
  span > h1 {
    font-size: 1.6rem;
  }
  #logo-color,
  #logo-bw {
    max-height: 200px;
    margin-bottom: 10px;
  }
  #scroll-span {
    width: 100px;
  }
}
