.test {
  border: 1px solid red;
}
.logos img {
  max-height: 300px;
}
#logoBW {
  position: absolute;
}
#logoColor,
#logoBW {
  animation-duration: 3s;
  animation-delay: 1s;
}

@media screen and (max-width: 992px) {
  #logoColor,
  #logoBW {
    max-height: 200px;
    margin-bottom: 10px;
  }
}
